<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="5">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.nxp.EdgeScale.testcase.Login"/>
      <class name="com.nxp.EdgeScale.testcase.Register"/>
      <class name="com.nxp.EdgeScale.testcase.CreateDevice"/>
      <class name="com.nxp.EdgeScale.testcase.Device"/>
      <class name="com.nxp.EdgeScale.testcase.CreateApp"/>
      <class name="com.nxp.EdgeScale.testcase.App"/>
      <class name="com.nxp.EdgeScale.testcase.CreateSolution"/>
      <class name="com.nxp.EdgeScale.testcase.Solution"/>
      <class name="com.nxp.EdgeScale.testcase.Model"/>
      <class name="com.nxp.EdgeScale.testcase.Vendor"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
